@using AndrewBreshamerGroceryApp.Pages;
@using System.Collections;
@using System.Collections.Generic;

@page "/addnewisle"

<h2>Add Food Item to Isle</h2>

<input placeholder="New food item name" @bind="newItemName" />

<input placeholder="New food item price" @bind="newPrice" />

<input placeholder="New food item brand" @bind="newBrand" />

<input placeholder="New food item quantity" @bind="newQty" />

<button @onclick=@(()=> Grocerystore.SendToGrocerystore())>Confirm</button>

@code {
    private string newItemName;

    private double newPrice;

    private string newBrand;

    private int newQty;
    

    @* private void AddIsleByNumber()
    {
        isleItems.Add();
             FoodItem()
                { 
                    itemName = newItemName, brand = newBrand, price = newPrice, qty = newQty
                }
        
    } *@
}