@page "/grocerystore" 

<h3>GroceryStore</h3>

<ul>
    @foreach (var isle in isleList) {
        <li>@isle.isleName
            @foreach (var item in isleItems) {
                <li>@item.itemName</li>
            }
        </li> 
    }
</ul>

<input placeholder="Add isle" @bind="newIsle" />
<button @onclick="addIsle">Add Isle</button>

@code {
    private string newIsle;

    //public object isleItemList;

    private List<FoodIsle> isleList = new List<FoodIsle>() 
    {
        new FoodIsle { isleName = "produce", isleItems = new List<FoodItem>() 
            { 
                new FoodItem { itemName = "apple" }
            }
        },
        @* new FoodIsle {isleName = "breakfast"},
        new FoodIsle {isleName = "beverage"} *@
    };

    private void addIsle() 
    {
        if(!string.IsNullOrWhiteSpace(newIsle)) 
        {
            isleList.Add(new FoodIsle { isleName = newIsle });
            newIsle = string.Empty;
        }
    }
}