@page "/grocerystore" 
@using System.Collections;
@using System.Collections.Generic;

<h3>GroceryStore</h3>

<ul>
    @foreach (var isle in isleList) 
    {
        <li>@isle.isleName 
            <ul>
                @foreach (var item in isle.isleItems) 
                {
                <li>@item.itemName 
                
                </li>
                }
            </ul>
        </li> 
    }
</ul>

<input placeholder="Add isle" @bind="newIsle" />
<button @onclick="addIsle">Add Isle</button>


@code {
    
    
    private string newIsle;

    private List<GroceryIsle> isleList = new List<GroceryIsle>() 
    {
        new GroceryIsle() 
        { 
            isleName = "produce", isleItems = new List<FoodItem>() 
            { 
                new FoodItem()
                { 
                    itemName = "apple", brand = "Gala", price = 0.5
                },
                new FoodItem()
                { 
                    itemName = "banana", brand = "Chiquita", price = 0.3
                },
            }
        },
        new GroceryIsle 
        { 
            isleName = "breakfast", isleItems = new List<FoodItem>() 
            { 
                new FoodItem()
                { 
                    itemName = "crackers", brand = "Ritz", price = 3
                },
                new FoodItem()
                { 
                    itemName = "coffee", brand = "folgers", price = 15
                },
            }
        },
        new GroceryIsle 
        {
            isleName = "beverage", isleItems = new List<FoodItem>() 
            { 
                new FoodItem()
                { 
                    itemName = "soda", brand = "Coca-Cola", price = 6
                },
                new FoodItem()
                { 
                    itemName = "fruit-juice", brand = "Minute Maid", price = 4
                },
            }
        }
    }; 

    private void addIsle() 
    {
        if(!string.IsNullOrWhiteSpace(newIsle)) 
        {
            isleList.Add(new GroceryIsle { isleName = newIsle });
            newIsle = string.Empty;
        }
    }
    
}